:root {
  font-size: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/* GLOBAL CLASS */
.logo {
  filter: grayscale(100%) contrast(200%) brightness(200%);
  transition: filter .3s ease-in-out;
}

.logo:hover {
  filter: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.button {
  display: inline-block;
  padding: 2.4rem 4.8rem;
  margin-top: 6.4rem;
  border: 1px solid #f2f2f2;
  color: #f2f2f2;
  font-size: 2.4rem;
  text-decoration: none;
  letter-spacing: 0.4rem;
}

.about-items {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.flex-left,
.flex-right {
  width: 50%;
}

hr {
  width: 50%;
  max-width: 240px;
}

h1 {
  font-size: 6.4rem;
  margin: 3.2rem 0;
}

h2 {
  font-size: 3.2rem;
  letter-spacing: 0.4rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

/* SECTION CLASS */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: background-color 0.5s;
}

.navbar .nav-items {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav-logo {
  padding: 0 2rem;
}

.navbar .nav-logo img {
  width: 72px;
}

.navbar .nav-link {
  color: #f2f2f2;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  transition: color .3s;
}

.navbar .nav-link:hover {
  color: #FFAB1C;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./public/image/hero.jpg');
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .hero-items {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero .hero-caption {
  margin-top: -3.2rem;
  color: #f2f2f2;
  max-width: 80rem;
  font-weight: 300;
  font-size: 2.4rem;
  text-align: center;
}

.about-1 {
  display: flex;
  min-height: 100vh;
}

.about-1 .coffee-bag {
  width: 60%;
}

.about-1 .about-1-info {
  display: flex;
  margin: 2.4rem 0;
}

.about-1 .about-1-desc {
  margin-left: 2.4rem;
}

.about-1 h2 {
  margin: 0.6rem 0 1.6rem;
}

.about-2 {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url('./public/image/coffee-roasting.jpg');
  display: flex;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f2f2f2;
  text-align: center;
}

.about-2 p {
  font-size: 2.4rem;
  margin: 3.2rem 0;
}

.about-2 .button {
  margin: 3.2rem 0;
}

.products {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.products h1 {
  margin-top: 0;
}

.product-items {
  display: flex;
  margin-top: 6.4rem;
  gap: 12rem;
}

.product-items .product-img {
  display: flex;
  width: 420px;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.product-items .product-img .button {
  margin: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.product-items .product-img:hover .button {
  opacity: 1;
}

.product-items .hot-coffee {
  background-image: url('./public/image/hot-coffee.jpg');
  transition: background-image 0.3s ease;
}

.product-items .hot-coffee:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./public/image/hot-coffee.jpg');
}

.product-items .iced-coffee {
  background-image: url('./public/image/iced-coffee.jpg');
}

.product-items .iced-coffee:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./public/image/iced-coffee.jpg');
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgb(32, 24, 19);
}

.footer .right {
  text-align: right;
}

.footer .footer-items {
  color: #f2f2f2;
  padding: 0 6.4rem;
  letter-spacing: .2rem;
}

.footer .footer-items a {
  color: #f2f2f2;
  transition: color 0.3s;
}

.footer .footer-items a:hover {
  color: #FFAB1C;
}

.footer .footer-items .socials {
  font-size: 2rem;
}

.footer .footer-items .socials span {
  margin-left: 2rem;
}

@media only screen and (max-width: 960px) {
  .about-items {
    flex-direction: column;
    max-width: 60rem;
  }

  .about-2 .about-items {
    max-width: 80rem;
  }

  .products {
    margin: 6.4rem 0;
  }

  .product-items {
    flex-direction: column;
    gap: 4rem
  }

  .product-items .product-img {
    margin: auto;
  }

  .footer {
    flex-direction: column;
  }

  .footer .left, .footer .right {
    text-align: center;
  }
}
